@model ITI_Project.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-3 mb-3">Details of @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-5">
            @Html.DisplayNameFor(model => model.Id) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        
        <dt class="col-sm-2 mb-5">
            @Html.DisplayNameFor(model => model.Name) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 mb-5">
            @Html.DisplayNameFor(model => model.Password) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2 mb-5">
            @Html.DisplayNameFor(model => model.role) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
        <dt class="col-sm-2 mb-5">
            @Html.DisplayNameFor(model => model.Profit) :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profit)$
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditSeller" asp-route-id="@Model.Id" class="btn btn-warning text-white">Edit</a>
    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Back to List</a>
</div>
