@model IEnumerable<ITI_Project.Models.Product>

@{
    ViewData["Title"] = "Search";
}

@if (Model == null || Model.Count() == 0)
{
    <div style="position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;">
        <h1>
            There is no result
        </h1>
        <a asp-action="Index" class="btn btn-outline-secondary text-center mt-2">Back to List</a>
    </div>

}
else
{
    string s = Model.Count() == 1 ? "item" : "items";
    <div style ="position: relative;
            left: 50%;
            transform: translateX(-50%);"
         class="mb-3 text-center">
        <h1>Search Result is @Model.Count() @s</h1>
        <a asp-action="Index" class="btn btn-outline-secondary text-center mt-2">Back to List</a>
    </div>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    if (item.Quantity > 0)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="/assets/@item.ImageUrl" alt="..." style="height: 100%;" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@item.Name</h5>
                                        <!-- Product Quantity-->
                                        @if (item.Quantity > 3)
                                        {
                                            <div class="d-flex justify-content-center small text-success mb-2">
                                                Quantity : @item.Quantity
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex justify-content-center small text-danger mb-2">
                                                Quantity : @item.Quantity
                                            </div>
                                        }

                                        <!-- Product price-->
                                        @item.Price $
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-route-productid="@item.Id" asp-action="AddToCart" asp-controller="User">Add to cart</a></div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
}

